**/*.svg
package.json
.umi
.umi-production
/dist
/lib
.dockerignore
.DS_Store
.eslintignore
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
*.jpg
*.txt
*.eot
*.ttf
*.woff
*.woff2
*/assets
/src/dev/assets/
