//noinspection CssUnknownTarget
@import '@m78/style/sass-vars';

@font-face {
  font-family: Segoe UI Emoji;
  src: url('../assets/seguiemj.ttf');
}

html,
body {
  overflow: hidden;
}

.m78-admin {
  &_desktop-node {
    position: absolute;

    @include full;
  }
}

@media (max-width: 680px) {
  .m78-admin_layout_side {
    display: none;
  }

  .grid-column1,
  .grid-column2,
  .grid-column3 {
    width: 100% !important;
    margin: 0 !important;
    order: -1 !important;
  }

  .grid-column2 {
    margin: 12px 0 !important;
  }
}
