//noinspection CssUnknownTarget
@import '@m78/style/sass-vars';

.m78-admin_func-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 201px /* 1px为右边框宽度 */;
  padding: var(--m78-space-3) var(--m78-space-2);
  background-color: var(--m78-component-bg);
  transition: 0.2s;
  border-right: 1px solid var(--m78-color-border);

  &.__fixed {
    top: 10%;
    bottom: 10%;
    border-radius: var(--m78-border-radius);
    box-shadow: var(--m78-shadow-2-b);
    border: 1px solid var(--m78-color-border);
    transform: translateX(0%);
    z-index: var(--m78-z-index-modal) !important;

    &.__hover {
      transform: translateX(-92%);

      &:hover {
        transform: translateX(0%);
      }
    }
  }

  &.__force-show {
    transform: translateX(0%) !important;
  }

  &_logo {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
  }

  &_logo-img {
    height: 28px;
    margin-right: var(--m78-space-2);
  }

  &_main {
    flex: 1;
    border-radius: var(--m78-border-radius);
  }
}
