.func-list {

  .m78-tree {
    padding: 0 !important;
    border: none !important;
  }

  .m78-tree_cont {
    min-width: 0;
    @include ellipsis-x;
  }

  .m78-tree_toolbar {
    padding-bottom: 0 !important;
    border-bottom: none !important;
  }

  .m78-tree_toolbar-left {
    display: none;
  }

  .m78-tree_toolbar-right {
    margin-left: 0 !important;
    flex: 1 !important;
  }

  .m78-input_wrap {
    display: flex;
    height: 32px !important;
    width: 96%;
    margin: 0 auto;
  }
}
