.m78-admin {
  &_login {
    position: fixed;
    overflow: hidden;
    @include full;

    &-title {
    }

    &-content {
      width: 88%;
      max-width: 550px;
      position: absolute;
      left: 50%;
      top: 42%;
      transform: translate(-50%, -50%);
      border-radius: var(--m78-border-radius-lg);
      padding: 32px 50px 60px;
      overflow: hidden;

      .m78-list {
        background-color: transparent;
      }

      &_bg {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: -1;
        @include full;
      }
    }

    &-bg {
      position: absolute;
      left: -50px;
      top: -50px;
      right: -50px;
      bottom: -50px;
      background: url('../assets/m2.jpg') center/cover;
      filter: blur(40px);
      opacity: 0.6;
    }
  }
}
