//noinspection CssUnknownTarget
@import '@m78/style/sass-vars';

// 一些小控件的样式

.m78-admin {
  // # 通用徽章样式
  &_badge {
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    height: 18px;
    min-width: 18px;
    line-height: 0;
    border-radius: var(--m78-border-radius-lg);
    background-color: var(--m78-gray-6);
    font-size: var(--m78-fs-sm);
    color: #fff;

    &.__out {
      position: absolute;
      right: -4px;
      top: -4px;
    }

    &.__small {
      height: 14px;
      min-width: 14px;
    }

    &.__primary {
      background-color: var(--m78-color);
    }

    &.__red {
      background-color: var(--m78-color-error);
    }

    &.__blue {
      background-color: var(--m78-color-success);
    }

    &.__yellow {
      background-color: var(--m78-color-warn);
    }

    &.__green {
      background-color: var(--m78-color-success);
    }

    &:empty {
      right: 8px;
      top: 8px;
      width: 8px;
      height: 8px;
      min-width: 0;
    }
  }

  // # 通用光标交互效果
  &_effect {
    line-height: 1;
    border-radius: var(--m78-border-radius);
    padding: var(--m78-space-1);
    user-select: none;

    &.__inline {
      display: inline-block;
    }

    @include effect-bg;
  }

  // # 面包屑
  &_crumbs {
    font-size: var(--m78-fs);
    font-weight: 400;
    flex: 1;
    height: 30px !important;
    border-radius: var(--m78-border-radius);

    &-item {
      position: relative;
      display: inline-flex;
      align-items: center;
      //max-width: 120px;
      color: var(--m78-color-primary);
      cursor: pointer;
      padding: 8px 28px 8px 8px;
      background-color: var(--m78-color-bg);
      border-radius: var(--m78-border-radius);
      vertical-align: middle;

      .m78-admin_crumbs-close {
        top: 4px;
        right: 4px;
      }

      &.__active {
        color: var(--m78-color);
        font-weight: bold;
      }

      @include effect-opacity;
    }

    &-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  // # lazy组件加载提升节点
  &_fixed-center-text {
    position: fixed;
    z-index: var(--m78-z-index-message);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--m78-color-title);
  }

  // # 阻塞型加载样式
  &_blocked-loading {
    position: fixed;
    background-color: var(--m78-body-bg);
    z-index: 99999;

    @include full;
  }

  // # 定制的窗口顶栏
  &_window-header {
    touch-action: none;

    .m78-page-header_title {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &_window-header_icon {
    font-weight: 400;
  }

  &_link {
    display: inline-block;
    cursor: pointer;
  }

  // # 功能入口按钮
  &_func-item {
    flex: 1;
    height: 32px;
    padding: 0 var(--m78-space-2);
    border-radius: var(--m78-border-radius);
    font-size: var(--m78-fs);
    line-height: 1;
    user-select: none;

    @include effect-bg;

    &.__active {
      background-color: var(--m78-color-opacity-sm);
    }

    &.__disabled {
      background-color: var(--m78-color-bg);
      color: var(--m78-color-disable);
    }

    .m78-tile_leading {
      margin-right: 8px;
      font-size: var(--m78-fs-md);
    }
  }

  // 图标渲染
  &_icon-render {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    line-height: 1;
    letter-spacing: 0;

    > img,
    > svg {
      display: inline-block;
      height: 100%;
    }
  }
}
