.m78-wine {
  &_decorate {
    border: 1px solid var(--m78-color-border);
    box-shadow: var(--m78-shadow-1-b);
    background-color: var(--m78-body-bg);
    border-radius: var(--m78-border-radius-md);
    //backface-visibility: hidden; /* 防止内容抖动 */
  }

  /* TODO: wine去掉默认边距后去掉 */
  &_content {
    left: 0;
    right: 0;
    bottom: 0;
    top: 52px !important;
  }

  .m78-page-header {
    border: none;
    border-bottom: 1px solid var(--m78-color-border);
  }

  &_hide-btn {
    background-color: var(--m78-color-title);
  }

  &_max-btn,
  &_resize-btn::before {
    border: 1px solid var(--m78-color-title);
  }

  &_resize-btn::after {
    border: 1px solid var(--m78-color-second);
  }

  &_dispose-btn::before,
  &_dispose-btn::after {
    background-color: var(--m78-color-title);
  }

  &_dispose-btn::before {
    left: 0;
  }

  &_tip-node {
    background-color: var(--m78-color-border);
  }
}
