/* TODO: style更新后改为使用style中的动画声明 */
@keyframes m78-admin-active-effect {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }

  20% {
    box-shadow: 0 0 0 6px var(--m78-color-opacity-sm);
  }

  100% {
    box-shadow: 0 0 0 7px transparent;
  }
}

.m78-wine {
  border-radius: var(--m78-border-radius-md);

  &.__active {
    animation: m78-admin-active-effect ease-out 1.2s;
  }

  &.__full {
    .m78-wine_decorate {
      box-shadow: none;
      border-radius: 0;
    }
  }

  &_decorate {
    border: 1px solid var(--m78-color-border);
    box-shadow: var(--m78-shadow-1-b);
    background-color: var(--m78-body-bg);
    border-radius: var(--m78-border-radius-md);
  }

  .m78-page-header {
    border: none;
    border-bottom: 1px solid var(--m78-color-border);
  }

  &_hide-btn {
    background-color: var(--m78-color-title);
  }

  &_max-btn,
  &_resize-btn::before {
    border: 1px solid var(--m78-color-title);
  }

  &_resize-btn::after {
    border: 1px solid var(--m78-color-second);
  }

  &_dispose-btn::before,
  &_dispose-btn::after {
    background-color: var(--m78-color-title);
  }

  &_dispose-btn::before {
    left: 0;
  }

  &_tip-node {
    background-color: var(--m78-color-border);
  }
}
